<!--<div ng-if='count == 0' translate='items.empty'></div>-->

<div ng-if="showDescription && topDescription" class="row hidden-xs top-description" style="padding: 10px 20px 10px 60px">
  <div markdownit='topDescription' watchlanguage='true' language='language'></div>
</div>
<div ng-if="showDescription && topDescription" class="row hidden-sm hidden-md hidden-lg" style="padding: 0">
    <div markdownit='topDescription' watchlanguage='true' language='language'></div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="color-orange" translate="header.projects.label">PROJECTS</h1>
        <!--<span class="hidden-xs">XS</span><span class="hidden-sm">SM</span><span class="hidden-md">MD</span><span class="hidden-lg">LG</span>-->
    </div>
</div>
<div class="row hidden-sm hidden-md hidden-lg" style="margin-right: -30px">
    <div class="col-xs-12  text-center">
        <h3 class="color-blue force-pointer" translate="choose.category" ng-click="toggleCategory()"><b>CHOOSE CATEGORY</b></h3>

        <div ng-if="!categoryOpen">
        <h4 ng-if="getActiveTag()" translate="state.publications.{{ getActiveTag() }}.label"></h4>
        <h4 ng-if="!getActiveTag()" translate="state.publications.all.label"></h4>
        </div>
    </div>
    <div ng-if="categoryOpen === true">
    <div class="col-xs-12 bg-color-blue" style="padding-right: 0" ng-repeat="route in availableRoutes">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-2">
                &nbsp;
            </div>
            <div class="col-xs-8" style="padding-top: 10px; padding-left: 20px">
                <a aria-controls="home"
                   role="tab"
                   data-toggle="tab"
                   translate="state.all.label"
                   ng-click="selectTag('all');toggleCategory();"
                   ng-class='{"active": isNoFilter()}'
                   title="{{ getTranslation('state.' + route.state + '.' + url.slug + '.description') }}"
                   class="force-pointer" style="font-size: 1.5rem;">
                </a>
            </div>
        </div>
        <div class="row list-filter" ng-if="url.slug!='all'" ng-repeat="url in route.urls" ng-class='{"active": isTagActive(url.slug)}'>
            <div class="col-xs-offset-1 col-xs-2">
                <img ng-src="/static/images/categories/{{url.slug}}.svg"
                     ng-click="selectTag(url.slug);toggleCategory();"
                     ng-class='{"active": isSDGActive(url.slug)}'
                     title="{{ getTranslation('state.' + route.state + '.' + url.slug + '.description') }}"
                     class="sdg-logo force-pointer" style="margin-top:8px"/>
            </div>
            <div class="col-xs-8" style="padding-top: 10px;">
                <a aria-controls="home"
                   role="tab"
                   data-toggle="tab"
                   translate="state.{{route.state}}.{{url.slug}}.label"
                   ng-click='selectTag(url.slug);toggleCategory();'
                   title="{{ getTranslation('state.' + route.state + '.' + url.slug + '.description') }}"
                   class="force-pointer" style="font-size: 1.5rem; padding-left: 5px">
                </a>
            </div>
        </div>

    </div>
    </div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <br/><br/><br/>
    </div>
</div>
<div class="row fluid-container" style="margin-left: 2%">
  <div ng-if='itemTemplate == "author.item"' ng-repeat='author in items' ng-include='"templates/partials/author.item.html"|prefixTemplate'></div>
  <div ng-if='itemTemplate == "story"' ng-repeat='story in items' ng-include='"templates/partials/story.html"|prefixTemplate'></div>
  <div ng-if='itemTemplate == "action"' ng-repeat='action in items' ng-include='"templates/partials/action.html"|prefixTemplate'></div>
  <div ng-if='itemTemplate == "review"' ng-repeat='review in items' ng-include='"templates/partials/review.html"|prefixTemplate'></div>
  <div ng-if='itemTemplate == "report"' ng-repeat='review in items' ng-include='"templates/partials/report.html"|prefixTemplate'></div>
  <div ng-if='itemTemplate == "story.pending"' ng-repeat='story in items' ng-include='"templates/partials/story.pending.html"|prefixTemplate'></div>
</div>

<div style='text-align: center;  margin-top: 25px;'>
  <div ng-if='items.length > 0 && items.length < count' class="btn-line-group primary" style="margin-bottom: 10px">
    <button class='btn-line' ng-click='more()'>
      <span ng-if='!isLoadingNextItems'>
        <span translate='button.more'></span>
        <span translate='missing' translate-values="{count: missing}"></span>
      </span>
      <span ng-if='isLoadingNextItems' translate='button.loading'></span>
    </button>
  </div>
  <!-- when count equals item length, we are at the end -->
</div>