<div style="margin-top: 10px; margin-bottom:10px">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 center" style="margin-top: -200px; z-index: 2000">
            <img src="/static/images/header/header img map.svg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 center">
            <h1 class="color-orange" translate="header.map.label">MAP</h1>
            <span style="position: relative">
                <a class="btn btn-primary text-reklame" href="/bla"><span translate="button.add.project"></span></a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 center">
            <br/>
            <div class="col-md-offset-2 col-md-1">
                <img src="/static/images/categories/food-orange.svg" style="width: 50px"/><br/>
                <span class="color-orange" translate="state.publications.food.label">FOOD</span>
            </div>
            <div class="col-md-1">
                <img src="/static/images/categories/climate-and-energy-orange.svg" style="width: 50px"/><br/>
                <span class="color-orange">CLIMATE & ENERGY</span>
            </div>
            <div class="col-md-1">
                <img src="/static/images/categories/nature-and-biodiversity-orange.svg" style="width: 50px"/><br/>
                <span class="color-orange">NATURE & BIODIVERSITY</span>
            </div>
            <div class="col-md-1">
                <img src="/static/images/categories/gardens-orange.svg" style="width: 50px"/><br/>
                <span class="color-orange">GARDENS</span>
            </div>
            <div class="col-md-1">
                <img src="/static/images/categories/alternative-culture-orange.svg" style="width: 50px"/><br/>
                <span class="color-orange">ALTERNATIVE CULTURE</span>
            </div>
            <div class="col-md-1">
                <img src="/static/images/categories/community-orange.svg" style="width: 50px"/><br/>
                <span class="color-orange">COMMUNITY</span>
            </div>
            <div class="col-md-1">
                <img src="/static/images/categories/zero-waste-orange.svg" style="width: 50px"/><br/>
                <span class="color-orange">ZERO WASTE</span>
            </div>
            <div class="col-md-1">
                <img src="/static/images/categories/discover-orange.svg" style="width: 50px"/><br/>
                <span class="color-orange">DISCOVER</span>
            </div>
        </div>
    </div>

</div>
<div>
  <iframe
      src="https://new.opengreenmap.org/browse/maps/608be82c78385b01008839ec/map-view?embed=true"
      allowFullScreen="false"
      allow="fullscreen; geolocation;"
      title="Luxembourg initiatives"
      frameborder="0"
      width="100%"
      height="800">
  </iframe>
</div>